<% provide(:title, "London Eye") %>
<h1>London Eye</h1>
<div id="main_text">
  <p>
    The London Eye is a cantilevered observation wheel on the South Bank of the 
    River Thames in London. It is Europe's tallest cantilevered observation wheel
    and is the most popular paid tourist attraction in the United Kingdom with 
    over 3.75 million visitors annually, and has made many appearances in popular
    culture.
  </p>
  <p>
    The structure is 135 metres (443 ft) tall and the wheel has a diameter of 120
    metres (394 ft). When it opened to the public in 2000 it was the world's
    tallest Ferris wheel. Its height was surpassed by the 160-metre (525 ft) Star
    of Nanchang in 2006, the 165-metre (541 ft) Singapore Flyer in 2008, and the
    167-metre-tall (547.9 ft) High Roller (Las Vegas) in 2014. Supported by an
    A-frame on one side only, unlike the taller Nanchang and Singapore wheels,
    the Eye is described by its operators as "the world's tallest cantilevered
    observation wheel".
  </p>
  <p>
    The London Eye used to offer the highest public viewing point in London until
    it was superseded by the 245-metre-high (804 ft)[14] observation deck on the
    72nd floor of The Shard, which opened to the public on 1 February 2013.
    The London Eye adjoins the western end of Jubilee Gardens (previously the
    site of the former Dome of Discovery), on the South Bank of the River Thames
    between Westminster Bridge and Hungerford Bridge beside County Hall, in the 
    London Borough of Lambeth. 
  </p>
</div>
<br>
<br>
<img src="/assets/1280px-London-Eye-2009.JPG" class="img-rounded" alt="London Eye">