
<div class="row">
  <%= link_to image_tag("240px-London-Eye-2009.JPG", alt: "London Eye", class: "img-rounded", id: "sidebar-img"), londoneye_path %>
  <div class="img-text">London Eye</div>
</div>
<div class="row">
  <%= link_to image_tag("220px-St-Pauls.jpg", alt: "St Pauls Cathedral", class: "img-rounded", id: "sidebar-img"), stpauls_path %>
  <div class="img-text">St Pauls</div>
</div>
<div class="row">
  <%= link_to image_tag("250px-TowerOfLondon.jpg", alt: "Tower Of London", class: "img-rounded", id: "sidebar-img"), toweroflondon_path %>
  <div class="img-text">Tower of London</div>
</div>